.podcastCardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 270px;
  margin: 30px 25px;
  border-radius: 3px;
}

.podcastCardWrapper__imgContainer {
  margin: 20px 35px;
}

.imgContainer__img {
  width: 180px;
  border-radius: 5px;
}

.podcastCardWrapper__titleText,
.podcastCardWrapper__descriptionText {
  padding-top: 10px;
  border-top: 1px solid lightgray;
  width: 90%;
}

.podcastCardWrapper__titleText {
  margin: 15px;
  color: var(--text-primary);
  font-size: 1rem;
}

.podcastCardWrapper__descriptionText {
  margin: 10px;
  color: var(--text-secondary);
}
.descriptionText__subheading {
  white-space: pre-wrap;
  overflow: hidden;
  font-style: italic;
  color: var(--text-secondary);
}
