.cardGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  align-items: flex-start;
}
.inputWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 95%;
  margin: 10px 20px;
}
.inputWrapper__counter {
  height: 30px;
  margin: 6px;
  width: 50px;
  font-size: 1.5rem;
  text-align: center;
  background-color: var(--secondary);
  color: var(--text-white);
  border-radius: 5px;
}
.inputWrapper__input {
  margin: 5px;
  width: 200px;
  height: 25px;
}
