.headingWrapper {
  border: 1px solid var(--border-primary);
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.headingWrapper__link {
  color: var(--primary);
  text-decoration: none;
}
.headingWrapper__title {
  padding: 15px 0px 0px 20px;
}
.headingWrapper__loader {
  padding: 15px 10px 0px 20px;
}
