.cardWrapper {
  text-decoration: none;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  border-radius: 5px;
}

.cardWrapper__imageContainer {
  position: relative;
  bottom: 50px;
}

.imageContainer__roundImage {
  width: 150px;
  height: auto;
  border-radius: 100%;
}

.cardWrapper__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: -30px;
  padding: 15px;
}

.content__title {
  margin-bottom: 10px;
  color: var(--text-primary);
}
.content__subTitle {
  color: var(--text-secondary);
}
