.podcastEpisodesWrapper {
  width: 50%;
  margin: 0px 200px;
}

.podcastEpisodes__titleCounter {
  padding-top: 10px;
  height: 45px;
  font-size: 1.3em;
  margin: 20px 0px;
}

.podcastEpisodes__tableWrapper,
.podcastEpisodes__titleCounter {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tableWrapper__heading {
  display: flex;
  flex-direction: row;
  margin: 0px 15px;
  padding-top: 25px;
  height: 40px;
}
.heading__title {
  padding-left: 10px;
  font-size: 1.5rem;
}
.heading__date {
  text-align: center;
}
.table__row {
  text-decoration: none;
  color: var(--secondary);
}

.podcastEpisodesLoader {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
